@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
/* ==== ROOT RESET ==== */
* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "Inter", sans-serif;
  }
  *, *::before, *::after {
    box-sizing: border-box;
}
/* ==== CSS VARIABLES ==== */
:root {
    --primary-color: #335eea;
    --link-color: #506690;
    --btn-hover-color: #2b50c7;
    --lg-heading: #161c2d;
    --text-content: #869ab8;
    --fixed-header-height: 4.5rem;
  }
  /* ==== RESET HTML ==== */
body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #fafbfb;
  }
ul li {
    list-style-type: none;
}
.nav-menu a {
    text-decoration: none;
}
button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
/* ==== CONTAINER ==== */
.container {
    width: 100%;
  }

/* ==== HEADER ==== */
.header {
    height: var(--fixed-header-height);
    padding: 0 1.7rem;
    background-color: #161c2d;
  }
/* ==== NAV ==== */
.h-nav{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.h-nav-div h2{
    color: rgb(94, 187, 252);
}
/* NAV MENU */
.nav-menu-list{
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    margin-top:0;
    margin-bottom: 0;
}

/* .nav-menu-list .nav-menu-item {
    margin: 0 0.5rem;
  } */
.nav-menu-item .nav-menu-link {
    font-size: 16px;
    color: rgb(185, 242, 255);
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding: 15px 15px;
    margin-right: 20px;
  }
.nav-menu-link:hover {
    color:white;
    background-color: rgb(0, 153, 0);
  }
#home-login-btn{
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border-radius: 8px;
  color: #FFFFFF;
  /* padding: 15px 20px; */
  /* touch-action: manipulation; */
  white-space: nowrap;
}
#home-login-btn:hover{
  background-image: linear-gradient(144deg,#7d2db6, #1f0b9c 50%,#029aa5);
}

.nav-menu-toggle-btn {
    font-size: 20px;
    font-weight: 600;
    color: white;
    padding: 10px;
  }
.nav-menu-toggle-btn:hover{
    background-color: green;
    border:1px solid rgb(0, 187, 255);
}
.nav-menu,
.nav-menu-close-btn{
    display: none;
  }
.show {
    right: 3% !important;
  }

/* Sign up & Login */
/* #login-section{
  display: flex;
    justify-content: center;
    text-align: center;
} */
.close-btn{
  position: absolute;
  top: 0;
  right:15%;
  color:white;
}
.close-btn:hover{
color:red;
}

/* ====  WRAPPER ==== */
.wrapper {
    width: 100%;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    padding-top: 5rem;
    margin-bottom: 5rem;
  }
.grid-cols-2 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
  }
.grid-item-1 {
    padding-top: 5rem;
    padding-left: 1.5rem;
  }
.main-heading {
    font-weight: 300;
    font-size: 40px;
    line-height: 55px;
  }
#main-heading-p2{
    color: black;
    font-size: 30px;
}
.main-heading span {
    color: var(--primary-color);
  }

.wrapper-info-text {
    margin-top: 1.5rem;
    font-size: 20px;
    line-height: 28px;
    color: #334157;
  }
.wrapper-btn {
    margin-top: 3.5rem;
    display: flex;
    width: 100%;
  }
.mybtn {
    width: 110px;
    height: 50px;
    background-color: var(--primary-color);
    display: block;
    font-size: 16px;
    color: #fff;
    text-transform: capitalize;
    border-radius: 7px;
    letter-spacing: 1px;
    transition: 0.4s;
  }
.mybtn:hover {
    transform: translateY(-3px);
    background-color: var(--btn-hover-color);
  }
.get-started-btn {
    width: 180px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    letter-spacing: 0;
    color: #fff;
    font-weight: 500;
    margin-right: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  }
.get-started-btn i {
    margin-left: 0.7rem;
  }
.get-started-btn:hover {
    transition: box-shadow 0.25s ease, transform 0.25s ease;
  }
.documentation-btn {
    width: 150px;
    height: 55px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0;
    background-color: #e1e7fc;
    color: #0e2a86;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
  }
.documentation-btn:hover {
    background-color: #d7ddf1;
    transition: box-shadow 0.25s ease, transform 0.25s ease;
  }
.grid-item-2 {
    width: 100%;
    height: 100%;
  }
.wrapper-project-img {
    width: 500px;
    max-width: 100%;
    height: 440px;
  }
.wrapper-project-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .grid-cols-4 {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3rem;
    row-gap: 2rem;
    padding: 1rem;
  }
.grid-col-item {
    height: 100%;
  }
.grid-icon {
    width: 100%;
    line-height: 40px;
  }
.featured-info {
    width: 100%;
  }
.featured-info span {
    width: 100%;
    display: block;
    font-size: 21px;
    font-weight: 500;
    line-height: 33px;
    color: rgb(2, 96, 140);
  }
.featured-info p{
    text-align: justify;
    text-justify: inter-word;
    display: block;
    width: 100%;
    margin-top: 7px;
    font-weight: 400;
    color: black;
    line-height: 25px;
    font-size: 17px;
}

footer{
    background: #111;
    height: auto;
    width: 100vw;
    padding-top: 20px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.contact{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
}
.footer-bottom{
  background: #000;
  width: auto;
  padding: 20px;
  text-align: center;
}
.footer-bottom p a{
  color:#44bae8;
  font-size: 16px;
  text-decoration: none;
}
/* Doing responsive */
@media screen and (min-width: 768px){
  .nav-menu-toggle-btn {
    display: none;
  }
  .nav-menu {
    display: block;
  }
}
@media screen and (max-width: 768px){
  .h-nav-div-h2{
    font-size: 23px;
  }
  .nav-menu{
    position:fixed;
    width: 93%;
    height: 100%;
    display: block;
    top: 2.5%;
    right: -100%;
    background-color:#161c2d;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    z-index: 50;
    transition: 0.4s;
  }
  .nav-menu-list {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4rem;
  }
  .nav-menu-list .nav-menu-item {
    margin: 1rem 0;
  }
  .nav-menu-item .nav-menu-link {
    font-size: 18px;
  }
  .nav-menu-close-btn{
    display: block;
    position: absolute;
    right: 10%;
    font-size: 25px;
    color: #9cb7f6;
  }
  .nav-menu-close-btn:hover {
    color: #ffffff;
  }
  .wrapper {
    padding: 0 0.7rem;
  }
  .grid-item-1 {
    padding-left: 0rem;
  }
  .main-heading {
    font-size: 35px;
  }
  .get-started-btn {
    width: 140px;
    height: 55px;
    font-size: 13.5px;
    margin-right: 1rem;
  }
  .grid-cols-4 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .featured-info p {
    line-height: 23px;
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  .wrapper {
    padding-top: 3rem;
  }
  .grid-cols-2 {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .grid-item-1 {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0;
  }
  .main-heading {
    font-size: 32px;
    text-align: center;
    line-height: 40px;
  }
  .wrapper-info-text{
    font-size: 16px;
    text-align: center;
    padding: 0.7rem;
  }
  .wrapper-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .grid-item-2 {
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .wrapper-project-img {
    width: 350px;
    height: 350px;
  }
  .featured-info span {
    font-size: 19px;
  }
}
